openapi: 3.0.3
info:
  title: Clink API
  description: 天润融通呼叫中心 API
  version: 1.0.0
  contact:
    name: Raymond
    email: 770913028@qq.com

servers:
  - url: https://api-bj.clink.cn
    description: 北京平台
  - url: https://api-sh.clink.cn
    description: 上海平台

paths:
  /cc/list_cdr_ibs:
    get:
      summary: 查询呼入通话记录列表
      operationId: listCdrIbs
      parameters:
        - name: startTime
          in: query
          required: true
          schema:
            type: string
          description: 开始时间(YYYY-MM-DD HH:MM:SS)
        - name: endTime
          in: query
          required: true
          schema:
            type: string
          description: 结束时间(YYYY-MM-DD HH:MM:SS)
        - name: customerNumber
          in: query
          schema:
            type: string
          description: 客户号码筛选
        - name: cno
          in: query
          schema:
            type: string
          description: 座席号筛选
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: 偏移量
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          description: 查询条数(10-100)
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  cdrIb:
                    type: array
                    items:
                      $ref: '#/components/schemas/CallRecord'
                  totalCount:
                    type: integer

  /cc/list_cdr_obs:
    get:
      summary: 查询外呼通话记录列表
      operationId: listCdrObs
      parameters:
        - name: startTime
          in: query
          required: true
          schema:
            type: string
        - name: endTime
          in: query
          required: true
          schema:
            type: string
        - name: customerNumber
          in: query
          schema:
            type: string
        - name: cno
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  cdrOb:
                    type: array
                    items:
                      $ref: '#/components/schemas/CallRecord'
                  totalCount:
                    type: integer

  /cc/agent_status:
    get:
      summary: 查询座席状态
      operationId: getAgentStatus
      parameters:
        - name: cno
          in: query
          schema:
            type: string
          description: 座席号(可选)
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'

  /cc/callout:
    post:
      summary: 发起外呼
      operationId: callout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerNumber:
                  type: string
                  description: 客户号码
                cno:
                  type: string
                  description: 座席号
                clid:
                  type: string
                  description: 外显号码
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResult'

  /cc/queue_status:
    get:
      summary: 查询队列状态
      operationId: getQueueStatus
      parameters:
        - name: qno
          in: query
          schema:
            type: string
          description: 队列号(可选)
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Queue'

components:
  schemas:
    CallRecord:
      type: object
      properties:
        callId:
          type: string
          description: 通话记录ID
        customerNumber:
          type: string
          description: 客户号码
        cno:
          type: string
          description: 座席号
        agentName:
          type: string
          description: 座席姓名
        startTime:
          type: string
          description: 开始时间
        endTime:
          type: string
          description: 结束时间
        callDuration:
          type: integer
          description: 通话时长(秒)
        status:
          type: string
          description: 通话状态
        recordFile:
          type: string
          description: 录音文件URL

    Agent:
      type: object
      properties:
        cno:
          type: string
          description: 座席号
        name:
          type: string
          description: 座席姓名
        status:
          type: string
          description: 状态(online/offline/pause等)
        callId:
          type: string
          description: 当前通话ID
        loginTime:
          type: string
          description: 登录时间

    Queue:
      type: object
      properties:
        qno:
          type: string
          description: 队列号
        qname:
          type: string
          description: 队列名称
        waitCount:
          type: integer
          description: 等待人数
        queueUpWaitTime:
          type: integer
          description: 平均等待时间(秒)
        onlineAgentCount:
          type: integer
          description: 在线座席数
        busyAgentCount:
          type: integer
          description: 忙碌座席数

    CallResult:
      type: object
      properties:
        callId:
          type: string
          description: 通话ID
        customerNumber:
          type: string
          description: 客户号码
        status:
          type: string
          description: 呼叫状态
